{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
    <section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
    <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
      <h1 class="title-font font-medium text-3xl text-gray-900">Update project</h1>
      <p class="leading-relaxed mt-4">This section allows you to update the project details.</p>
    </div>
    <div class="lg:w-5/6 md:w-1/2 bg-gray-200 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
      <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Project details</h2>
        <form method="POST">
        {{ form.hidden_tag()}}
      <div class="relative mb-4">
        {{ wtf.form_field(form.project_title, class='form-control', placeholder='Project title')}}
      </div>
      <div class="relative mb-4">
        {{ wtf.form_field(form.project_description, class='form-control', placeholder='Project description')}}
          </div>
        <div class="relative mb-4">
        {{ wtf.form_field(form.budget, class='form-control', placeholder='Estimated budget')}}
        </div>
            <div class="relative mb-4">
        {{ wtf.form_field(form.update_project, class='btn btn-primary')}}
        </div>
   </form>
    </div>
  </div>
</section>
</div>
{% endblock %}