werkzeug==0.16.1
Flask-Migrate==2.1.1
Flask-OAuth==0.12
Flask-OAuthlib==0.9.4
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
WTForms==2.1
flask_login
flask_mail
flask_bootstrap
flask_script
flask_login
flask_mail